<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>FitClub</title>
	<link rel="icon" type="image/x-icon" href="/clases/imagenes/favicon1.png">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet" />
	<link rel="stylesheet" href="/clases/clases.css">
</head>
<body onload="getWeekRange()">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a th:href="@{/indice}"><img src="/clases/imagenes/logo.png" alt="logo" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav navbarNav">
      <a class="nav-item nav-link" th:href="@{/indice}">Inicio</a>
      <a class="nav-item nav-link" th:href="@{/indice}">Programa</a>
      <a class="nav-item nav-link" th:href="@{/clases/inicio}">Clases</a>
      <a class="nav-item nav-link" th:href="@{/indice}">Sobre nosotros</a>
      <a class="nav-item nav-link" th:href="@{/indice}">Contacto</a>
      <div th:if="${usuarioLog != null and usuarioLog.rol.idRol == 3}">
        <a class="nav-item nav-link" th:href="@{/admin/menu}">Administración</a>
      </div>
    </div>
  
    <div th:if="${usuarioLog == null}">
      <a href="/login"><button class="btn">Iniciar sesión</button></a>
    </div>
    <div th:if="${usuarioLog != null}">
      <div class="dropdown">
        <a class="nav-link dropdown-toggle idUser" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="ri-user-fill iconoUser"></i>
          <span th:text="${usuarioLog.idUsuario}" id="identificador"></span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" th:href="@{/usuario/perfil}"><i class="ri-user-search-line"></i> Ver perfil</a>
          <a class="dropdown-item" th:href="@{/logout}"><i class="ri-logout-box-fill"></i> Cerrar sesión</a>
        </div>
      </div>
    </div>
  </div>
</nav>

<section class="clases">
    <h2 class="section__header">Clases <span id="rangoSemana"></span></h2>
    <table border="1">
        <thead>
            <tr>
                <th class="casillaInvisible"></th>
                <th th:each="dia : ${diasSemana}" th:text="${dia}"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="hora : ${horas}">
                <td class="horas" th:text="${hora}"></td>
                <td th:each="dia : ${diasSemana}">
                    <div th:each="clase : ${clases}"
                         th:if="${clase.dia eq dia and #dates.format(clase.hora, 'HH:mm').equals(hora)}">
                        <div class="clase-details">
                            <div class="clase-header">
                                <span class="clase-nombre" th:text="${clase.nombre}"></span>
                                <span class="clase-sala" th:text="${clase.sala}"></span>
                            </div>
                            <div class="clase-body">
                                <span class="clase-monitor"><strong>Monitor:</strong> <span th:text="${clase.monitor.usuario.nombre}"></span></span>
                                <span class="clase-duracion"><strong><i class="ri-timer-line"></i></strong> <span th:text="${clase.duracion}"></span>' min</span>
                            </div>
                            <div class="clase-footer" th:if="${usuarioLog != null}">
                           		<div class="limiteMiembros"><strong><i class="ri-team-fill"></i></strong><span th:text="${clase.limiteMiembros}"></span></div>
                           		<div class="apuntarse"><a th:href="@{/clases/apuntarse(idClase=${clase.idClase})}"><button id="btnApuntarse">Reservar</button></a></div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>
	

	<script src="/clases/inicio.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
